.login-btn{
    border: none;
    background-color: #E50914;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all .3s;
    color: #fff;
}

.login-btn:hover{
    opacity: .8;
}

.login-logo{
    width: 200px;
}

.header-logo{
    width: 170px;
}

.avatar{
    width: 60px;
    cursor: pointer;
    border-radius: 50%;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    background: transparent;
    left: 0;
    padding: 0 30px;
}

.fixed-header{
    z-index: 99;
    background-color: #000000e1;
    backdrop-filter: blur(10px);
}

.navbar-wrap{
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar{
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar a{
    color: #fff;
    transition: all .3s;
}

.navbar a:hover{
    opacity: .8;
}

header{
    height: 100vh;
}

.films-hero{
    display: flex;
    flex-direction: column;
    height: inherit;
    background: linear-gradient(90deg, #070707f7 40%, transparent 75%);
    justify-content: center;
}

.hero-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 0 35px;
}

.hero-content h1{
    font-size: 60px;
    color: #fff;
}

.buttons{
    display: flex;
    gap: 20px;
}

.buttons .btn{
    padding: 15px 35px;
    background-color: #E50914;
    color: #fff;
    font-weight: 600;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    transition: all .3s;
}

.buttons .btn:hover{
    opacity: .8;
}

.hero-content p{
    width: 50%;
    color: #fff;
}

.films-category{
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.films-category h3{
    color: #fff;
    font-size: 30px;
}

.film-image{
    width: 100%;
    object-fit: cover;
    max-height: 100px;
    cursor: pointer;
    transition: all .2s;
}

.film-image:hover{
    transform: scale(1.05);
}

.film-poster-large{
    max-height: 350px;
}

#video-trailer{
    width: 100%;
    height: 600px;
}

.home-hero{
    color: #fff;
    height: 100vh;
    background: url(./assets/home.jpg);
}

.home-hero-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 20px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 1) 100%);;
}

.down{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: all .3s;
}

.down:hover{
    opacity: .8;
}

.home-page{
    border-top: 10px solid #222;
    background-color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    padding: 70px 0;
}

.home-description{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.home-image{
    width: 40%;
    object-fit: cover;
}

.home-questions{
    padding: 0 5%;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.accordions{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    margin-top: 50px;
    background-color: #111111;
    color: #fff;
}

.hamburger{
    display: none;
    z-index: 99;
}

.mobile-navbar{
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    transition: all 1s;
    gap: 20px;
    top: -800px;
    background-color: #000e;
}

.mobile-navbar img{
    width: 100px;
}

.mobile-navbar a{
    font-size: 20px;
}

.mobile-view{
    top: 0;
}

@media (max-width: 1040px) {
    .home-page{
        flex-direction: column;
        gap: 50px;
    }

    .home-description{
        width: 60%;
        text-align: center;
    }

    .home-description h3{
        font-size: 40px;
    }

    .home-description h6{
        font-size: 20px;
    }

    .home-image{
        width: 60%;
    }

    .home-hero-content h3{
        font-size: 40px;
    }

    .home-hero-content h5{
        font-size: 20px;
    }

    .home-hero-content h6{
        font-size: 15px;
    }

    .accordions h5{
        font-size: 20px;
    }

    .home-questions h3{
        font-size: 40px;
    }
}

@media (max-width: 556px) {
    .home-description{
        width: 70%;
        text-align: center;
    }

    .home-description h3{
        font-size: 30px;
    }

    .home-description h6{
        font-size: 15px;
    }

    .home-image{
        width: 70%;
    }

    .home-hero-content h3{
        font-size: 30px;
    }

    .home-hero-content h5{
        font-size: 15px;
    }

    .home-hero-content h6{
        font-size: 13px;
    }

    .home-questions h3{
        font-size: 30px;
    }

    .navbar{
        display: none;
    }

    .tooltip{
        display: none;
    }

    .header{
        padding: 0;
    }

    .hamburger{
        display: flex;
    }

    .mobile-navbar{
        display: flex;
    }

    .hero-content p{
        width: 70%;
    }

    .hero-content h1{
        font-size: 50px;
    }
}